<header class="container-fluid mb-4">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" href="{% url 'index' %}">
          <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="2" width="36" height="36" style="fill:#DEDEDE;stroke:#555555;stroke-width:2"/>
          </svg>
          Logo Text
        </a>

        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
          <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

        {% if not user.is_authenticated %}
        <ul class="navbar-nav mb-lg-0 col-lg-3 justify-content-lg-end">
          <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
        </ul>
        {% else %}
        <ul class="navbar-nav mb-lg-0 col-lg-3 justify-content-lg-end">
          <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
</header>